mixin text-field(text, input_text)
    .text-field-default
        h3.text-field__text= text
        input(type="text" class="text-field__input" placeholder= input_text required)

mixin dropdown-item(text, name)
    .dropdown__item
        .dropdown__text= text
        .dropdown__wrapper-counter
            .dropdown__circle.dropdown__circle-active
                .dropdown__minus
            input(class="dropdown__counter" name= name type="text" value="0" readonly)
            .dropdown__circle.dropdown__circle-active
                .dropdown__plus
                .dropdown__plus

mixin dropdown(header_name, text, action)
    form.dropdown(method="post" action= action ) 
        h3.text-field__text= header_name
        .dropdown__head.dropdown__head-nonactive
            span.dropdown__head-text= text
            .dropdown__arrow
        .dropdown__menu(id="myDropdown")
            .dropdown__wrapper
                +dropdown-item("взрослые", 'parents')
                +dropdown-item("дети", 'children')
                +dropdown-item("младенцы", 'babies')
    
                .dropdown__footer
                    .dropdown__btn-clear.dropdown__btn-clear-nonactive очистить
                    input.dropdown__btn-accept(value="применить" type="submit")
        

mixin date_dropdown(text)
    .date-dropdown
        h3.date-dropdown__head-text= text
        .date-dropdown__head
            span.date-dropdown__head__text= "ДД.ММ.ГГ"
            .date-dropdown__head__arrow
        .date-dropdown__calendar
            .date-dropdown__month
                .date-dropdown__arrow-left
                    .date-dropdown__arrow-left__tail
                .date-dropdown__month-name= "Август 2019"
                .date-dropdown__arrow-right
                    .date-dropdown__arrow-right__tail
            .date-dropdown__week-days
                .date-dropdown__mon= "Пн"
                .date-dropdown__tue= "Вт"
                .date-dropdown__wed= "Ср"
                .date-dropdown__thu= "Чт"
                .date-dropdown__fri= "Пт"
                .date-dropdown__sat= "Сб"
                .date-dropdown__sun= "Вс"
            .date-dropdown__dates
            
                //- div.date-dropdown__date.date-dropdown__date-last-month= "31"
                //- div.date-dropdown__date= "1"
                //- div.date-dropdown__date= "2"
                //- div.date-dropdown__date= "3"
                //- div.date-dropdown__date.date-dropdown__date-active= "4"



            .date-dropdown__btns
                .date-dropdown__btn-clear= "Очистить"
                .date-dropdown__btn-accept= "Применить"




